* {
    margin: 0%;
    padding: 0%;
}

.image{
    margin: 5% 20%;
    width: 50%;
    height: 50%;
  
    outline: 30px solid rgb(255, 125, 3);
    border: 30px solid yellow;
    padding: 30px;
    background-color: rgb(76, 255, 6);
    display: inline-block;
}
img{
    width: 100%;
    
}



    
